<!DOCTYPE html>
<html>
  <head>
    <title>Snipe</title>
  </head>

  <body>
    <form method="POST">
      <input type="submit" value="Start Bidding" />
    </form>

    <div id="auction-status"><%= auction_result %></div>
  </body>
</html>
