<!DOCTYPE html>
<html>
  <head>
    <title>Snipe</title>
  </head>

  <body>
    <form method="POST">
      <button>Start Bidding</button>
    </form>

    <div>
      <%= auction_result %>
    </div>
  </body>
</html>
